body {
  background-color: #2A363B;
}
h1 {
  color: #E84A5F;
  font-family: Arial, monospace;
  font-size: 300%;
}
p {
  color: #FECEAB;
  font-family: Arial, monospace;
  font-size: 160%;
}

## https://digitalsynopsis.com/design/minimal-web-color-palettes-combination-hex-code/
