#https://colorhunt.co/palette/171304

body {
  background-color: #FCF8E8;
  font-family: Arial, monospace;
}
h1 {
  color: #DF7861;
  font-family: Arial, monospace;
  font-size: 300%;
}

h2 {
  color: #DF7861;
  font-family: Arial, monospace;
  font-size: 120%;
}

h3 {
  color: black;
  font-family: Arial, monospace;
  font-size: 50%;
}

p1, p2, p3 {
  color:  #DF7861;
  font-family: Arial, monospace;
  font-size: 100%;
  font-weight:bold;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
